.fs-1-3-rem {
  font-size: 1.3rem;
}
.fs-8vw {
  font-size: 8vw;
}
.fs-7vw {
  font-size: 7vw;
}
.fs-6vw {
  font-size: 6vw;
}
.fs-5vw {
  font-size: 5vw;
}
.fs-4vw {
  font-size: 4vw;
}
.fs-3vw {
  font-size: 3vw;
}
.fs-2vw {
  font-size: 2vw;
}
.fs-1-5vw {
  font-size: 1.5vw;
}
.fs-1vw {
  font-size: 1vw;
}
